{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "generator-star-spacing": 0,
    "new-cap": 0,
    "array-bracket-spacing": 0,
    "object-curly-spacing": 0,
    "object-shorthand": 0,
    "arrow-parens": 0,

    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/array-bracket-spacing": 1,
    "babel/object-curly-spacing": 0,
    "babel/object-shorthand": [1, "methods"],
    "babel/arrow-parens": 0,
    "babel/no-await-in-loop": 1,
    "babel/flow-object-type": 1,
    "babel/func-params-comma-dangle": [1, "always-multiline"],

    "no-undef": 2,
    "no-unused-vars": 1,
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "semi-spacing": [2, {"before": false, "after": true}],
    "space-before-function-paren": [2, "never"],
    "comma-dangle": 0,
    "no-trailing-spaces": 1,
    "no-console": 0,
    "no-duplicate-imports": 0,

    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,

Error: Parse error on line 42:
...sx-uses-vars": 2,  },  "plugins": [
----------------------^
Expecting 'STRING'
},
  "plugins": [
    "babel",
    "react"
  ],
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}
