.charts {}

.spansList {
  text-align: center;
  list-style: none;
  padding: 0;

  li {
    display: inline-block;

    + li {
      margin-left: 20px;
    }
  }
}

.itemActive {
  text-decoration: underline;
}

.legendContainer {
  text-align: center;

  & > div {
    display: inline-block;
  }
}
