.charts {}

.spansList {
  text-align: center;
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    text-align: center;

    a {
      width: 100%;
      display: inline-block;
      text-align: center;
      padding: 10px 0;
    }
  }
}

.itemActive {
  text-decoration: underline;
}

.legendContainer {
  text-align: center;
  margin: 5px 0;

  & > div {
    display: inline-block;
  }
}

.timeNavBar {
  text-align: center;

  .timeNavArrow {
    font-weight: bold;
    margin: 0 20px;
  }
}
